name: Manual publish of .NET packages

on:
  workflow_dispatch:

env:
  SOLUTION: ./ServerlessWorkflow.Sdk.sln

jobs:
  publish:
    if: github.repository == 'serverlessworkflow/sdk-net'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['6.0.x' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Pull latest version tag
        if: github.event_name != 'pull_request'
        run: |
          git fetch
          git pull
      - name: Setup .NET ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Restore dependencies
        run: dotnet restore "${{ env.SOLUTION }}"

      - name: Build
        run: dotnet build "${{ env.SOLUTION }}" --configuration Release --no-restore
      
      - name: Publish NuGet Packages
        run: dotnet nuget push "./src/*/bin/Release/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
